{% extends "base.html" %}

{% block page_title %}
	Productos
{% endblock %}

{% block content %}
	<div class="row column text-center">
		<h2>Nuestros Nuevos Productos</h2>
		<hr>
	</div>
	<div class="row small-up-1 large-up-4 text-center">
		{% for pr in object_list %}
		<div class="column">
			<img class="thumbnail" src="{{ pr.image.url }}">
			<a href="{% url "products:detail"  pr.id %}">
				<h5>{{ pr.name }} </h5></a>
			<a href="#" class="hollow secondary button expanded">S/.{{ pr.price }}</a>
		</div>
		{% endfor %}
	</div>

<!--	<a href="{% url "products:create" %}"> Nuevo Producto</a>
	<ul>
		{% for pr in object_list %}
			<li>
			<a href="{% url "products:detail"  pr.id %}">
				{{ pr.name }} |
			</a>
				{{ pr.description }} 
			<img src="{{ pr.image.url }}">
				
			</li>
		{% endfor %}
	</ul>-->
{% endblock  %}
