@import url('slider.css');
@import url('foundation.css');

html{
	font-family: 'Oxygen', sans-serif;
}

.body-container{
	background-color: white;
}

.page-content{
	padding-top: 40px
}

#signin section, #signup section{
	padding: 8%;
	margin: 10px 0;
	border:0 none;
}

#signin section{
	background-color: #ffffff;
}
#signup section
{
	background-color: #e2eaed;
}

.nudocord-logo{
	font-family: 'Cabin Sketch', cursive;
	color: #204056;
	font-size: 40px;
}

.nudocord-logo:hover, .nudocord-logo:focus{
	color: #2c3e50;
}

.a-contrast {
    color: #152B39; }
    .a-contrast:hover, .a-contrast:focus {
        color: #95a5a6;  
    }

aside.left{
	max-height: 75rem;
	border-right: 1px solid #cacaca; 
	margin: 1.25rem auto;
}

aside.right{
	max-height: 75rem;
	border-left: 1px solid #cacaca; 
	margin-left: 1.25rem auto;
}

div.left{
	max-height: 75rem;
	border-right: 1px solid #cacaca; 
	margin-right: 1.25rem auto;
}

div.right{
	max-height: 75rem;
	border-left: 1px solid #cacaca; 
	margin-left: 1.25rem auto;
}

hr.hard{
	border-bottom: 1px solid #666;
}


.vertical-center,.buttondetailorder, .vert-horiz-center{
	padding-top: 25px;
}

.buttondetailorder, .vert-horiz-center,.horizontal-center{
	text-align: center;
}

.tableorderlist{
	padding-right: 50px;
	padding-left: 50px;
}