<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block page_title %}
	{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
</head>
<body>
	<div class="top-bar ">
		<div class="top-bar-left">
			<ul class="menu">
				<li class="menu-text">Nudocord</li>
				<li><a href="#">One</a></li>
				<li><a href="#">Two</a></li>
			</ul>
		</div>
		<div class="top-bar-right  ">
			<ul class="menu">
				{% if user.is_authenticated %}
            		<h3>{{ user.name }} | <a href="{% url "clients:logout" %}"><button class="alert button">Salir</button></a></h3>
        		{% else %}
            		<a href="{% url "clients:signin" %}"><button class="success button">  Ingresar  </button></a>
            		<a href="{% url "clients:signup" %}"><button class="primary button">Registrarse</button></a>
        		{% endif %}
			</ul>
		</div>
	</div>

	{% block content %}
	{% endblock %}

</body>
</html>