{% extends "base.html" %}

{% block page_title %}
	Inicio
{% endblock %}

{% block content %}

<div class="main">
	<div id="mi-slider" class="mi-slider">
		<ul>
			<li><a href="#"><img src="../media/gauchoceleste_Q6kHnbL.jpg" alt="gaucho celeste"></a></li>
			<li><a href="#"><img src="../media/gauchoamarilloneon_zcHsHmv.jpg" alt="gaucho amarillo neon"></a></li>
			<li><a href="#"><img src="../media/gauchoazul_zXeELaC.jpg" alt="gaucho azul"></a></li>
			<li><a href="#"><img src="../media/gauchoazul_zXeELaC.jpg" alt="gaucho azul"></a></li>
		</ul>
		<ul>
			<li><a href="#"><img src="../media/gauchoceleste_Q6kHnbL.jpg" alt="gaucho celeste"></a></li>
			<li><a href="#"><img src="../media/gauchoamarilloneon_zcHsHmv.jpg" alt="gaucho amarillo neon"></a></li>
			<li><a href="#"><img src="../media/gauchoazul_zXeELaC.jpg" alt="gaucho azul"></a></li>
			<li><a href="#"><img src="../media/gauchoazul_zXeELaC.jpg" alt="gaucho azul"></a></li>
		</ul>
		<ul>
			<li><a href="#"><img src="../media/gauchoamarilloneon_zcHsHmv.jpg" alt="gaucho amarillo neon"></a></li>
			<li><a href="#"><img src="../media/gauchoceleste_Q6kHnbL.jpg" alt="gaucho celeste"></a></li>
			<li><a href="#"><img src="../media/gauchoamarilloneon_zcHsHmv.jpg" alt="gaucho amarillo neon"></a></li>
		</ul>
		<ul>
			<li><a href="#"><img src="../media/gauchoceleste_Q6kHnbL.jpg" alt="gaucho celeste"></a></li>
			<li><a href="#"><img src="../media/gauchoceleste_Q6kHnbL.jpg" alt="gaucho celeste"></a></li>
			<li><a href="#"><img src="../media/gauchoamarilloneon_zcHsHmv.jpg" alt="gaucho amarillo neon"></a></li>
			<li><a href="#"><img src="../media/gauchoceleste_Q6kHnbL.jpg" alt="gaucho celeste"></a></li>
		</ul>
		<nav>
			<a href="#">Simple 1</a>
			<a href="#">Simple 2</a>
			<a href="#">Doble 2</a>
			<a href="#">Doble 3</a>
		</nav>
	</div>
</div>
<hr>

	<div class="row column text-center">
		<h2>Nuevos Nudos</h2>
	</div>
	<div class="row small-up-2 medium-up-3 large-up-5">
		{% for pr in product_list %}
		<div class="column">
			<img class="thumbnail" src="{{ pr.image.url }}">
			<a href="{% url "products:detail"  pr.id %}">	
				<p>{{ pr.name }} </p>
				<p>S/.{{ pr.price }} </p></a>
				<a href="{% url "carts:addtocart" pr.id %}" class="success button expanded">Añadir a Carrito</a>
		</div>
		{% endfor %}
	</div>
{% endblock  %}
