{% extends "base.html" %}

{% block page_title %}
	Pedidos
{% endblock  %}

{% block content %}

<div class="row ">
<br>
	<h5>MIS PEDIDOS</h5>
</div>
<hr>
<section class="row ">
 	{% for o in orderdata|dictsortreversed:"registration_date" %}
	<div class="row ">
		<aside class="left medium-3 columns ">
			<h5>Nro. pedido {{ o.id }}</h5>
			<p>Comprado el {{o.registration_date}}</p>
			<p>Total S/.{{o.amount}}</p>
			
		</aside>

		<article class="medium-5 columns" >
			<div class="medium-4 columns">
				<img src="{{o.firstprod.image.url}}">
			</div>
			<div class="medium-8 columns vert-horiz-center" >
				<p>{{o.firstprod.name}}</p>
			</div>
			<div class="medium-12 columns">
				{%if o.aditionalprod > 0%}
				<p>+{{o.aditionalprod}} productos adicionales</p>
				{%endif%}
			</div>
		</article>
		<div class="medium-3 columns buttondetailorder">
			<a href="{% url "orders:detail"  o.id %}" class="expanded success button ">VER DETALLES</a>
		</div>
	</div>
		
	<hr>
	</div>
	{% empty %}
	<p>No tienes ningun pedido</p>
	{% endfor %}
<!--<div class="reveal" id="exampleModal1" data-reveal>
  <h1>Awesome. I Have It.</h1>
  <p class="lead">Your couch. It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<p><a data-open="exampleModal1">Click me for a modal</a></p>-->
</section>
{% endblock  %}