{% extends "base.html" %}

{% block page_title %}
Detalle de Pedido
{% endblock  %}
{% block content %}
<br>
<div class="row">
	<div class="medium-3 columns">
		<h4>Resumen de pedido</h4>
		<hr class="hard">
			<p>Nro. pedido: {{order.id}}</p>
			<hr>
			<p>Cantidad: {{cantidad}}</p>
			<hr>
			<p>Total: {{order.amount}}</p>
			<hr>
		<h5>Datos de entrega</h5>
		<hr class="hard">
			<p>Lugar: {{order.deliverplace.name}}</p>
			<hr>
			<p>Fecha: {{order.deliverplace.date|date:"SHORT_DATE_FORMAT"}}</p>
			<hr>
			<p>Hora: {{order.deliverplace.date|date:"P"}}</p>
			<hr>
	</div>
	<div class="right medium-9 columns tableorderlist">
		
		<div class="row">
			<div class="medium-6 columns ">
				Producto	
			</div>
			<div class="medium-2 columns horizontal-center">
				Precio	
			</div>
			<div class="medium-2 columns horizontal-center">
				Cantidad
			</div>
			<div class="medium-2 columns end horizontal-center">
				Subtotal
			</div>
		<hr class="hard">
		</div>


		{% for o in orderdetail %}
		<div class="row ">
			<div class="medium-2 columns ">
				<img src="{{ o.product.image.url }}">
			</div>
			<div class="medium-4 columns vert-horiz-center">
				<p>{{ o.product.name }}</p>
			</div>
			<div class="medium-2 columns vert-horiz-center">
				<p>S/.{{ o.product.price }} </p>
			</div>
			<div class="medium-2 columns vert-horiz-center">
				<p>{{o.quantity}}</p>
			</div>
			<div class="medium-2 columns end vert-horiz-center">
				<p>{{o.subtotal_amount}}</p>
			</div>
			<br></br>
			<br></br>
		</div>
		{% if not forloop.last %} 
			<hr>
		{% endif %}	
		{% endfor %}
	</div>
</div>
<hr>
{% endblock  %}