{% extends "base.html" %}

{% block page_title %}
	Pedidos
{% endblock  %}

{% block content %}

<div class="row ">
<br>
	<h5>MIS PEDIDOS</h5>
</div>
<hr>
<section class="row ">
 	{% for o in orderdata%}
	<div class="row ">
		<aside class="left medium-3 columns ">
			<h5>Nro. pedido {{ o.id }}</h5>
			<p>Comprado el {{o.registration_date}}</p>
			<p>Total S/.{{o.amount}}</p>
			
		</aside>

		<article class="medium-5 columns" >
			<div class="medium-4 columns">
				<img src="{{o.firstprod.image.url}}">
			</div>
			<div class="medium-8 columns vert-horiz-center" >
				<p>{{o.firstprod.name}}</p>
			</div>
			<div class="medium-12 columns">
				{%if o.aditionalprod > 0%}
				<p>+{{o.aditionalprod}} productos adicionales</p>
				{%endif%}
			</div>
		</article>
		<div class="medium-3 columns buttondetailorder">
			<a href="{% url "orders:detail"  o.id %}" class="expanded success button ">VER DETALLES</a>
		</div>
	</div>
		
	<hr>
	</div>
	{% empty %}
	<p>No tienes ningun pedido</p>
	{% endfor %}

</section>
{% endblock  %}